<h1>Reset Password</h1>

<!-- Need the model in order for objects.errors to work. for.object references to the object form_with model and that is required to render out errors because they are kept
inside of the model record the instance of that record-->
<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
    
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <%end%>
        </div>
    <%end%>

    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password"%>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password"  %>
    </div>

    <!-- Need to turn off turbo in order to process controller as HTML-->
    <div data-turbo="false"> 
        <div class="mb-3">
            <%= form.submit "Reset Password", class: "btn btn-primary" %>
        </div>    
    </div>

<%end%>